body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Stylize */
    background-color: white;
    text-decoration-color: blueviolet;
    background-image: url(../Jeopardy_title.jpg);
    background-attachment: fixed;
    
    
    
}
.container{
    width: 100%;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: opacity(60%);
}


    

.landing_img {
    display: flex;
    height: 200PX;
}

.player_turn, .entry{
    margin: 1em;
    font-size: 2em;
}

a{
    text-decoration: none;
}

button{
    margin: 1em;
    width: 80px;
}

.play_button {
    padding: 1rem;
    font-size: large;

    
}

header {
    font-size: 4em;
}
#myDynamicTable {
    width: 100%;
    background-color: orange;
    border: 3px double black;
    
}

#myDynamicTable > table {
    margin: 0 auto;
}

#myDynamicTable tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    
}
#myDynamicTable td, th{
    padding: 10px;
    
}


.column_header {
    background-color: lightgrey;
    padding: 1em;
}

.gameplay {

}
.entry {
padding: 1em;

}
.guess_pass {
    display: flex;
    justify-content:space-between;
}
.player_score {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.next_round, .play_button{

    
    width: auto;
    
}

.buttonbox{
    display: flex;
    justify-content: right;
    width: 70%;
    
}

.question_display {
    width: 70%;
    color: black;
    background-color: white;
    opacity: .75;
    text-wrap: balance;
    display: flex;
    justify-content: center;
}

.final_column_header {
    width: 60%;
    padding: 1em;
    background-color: lightgrey;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.final_question {
    border: 2px solid black;
    width: 60%;
    height: 200px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.9;


    }
.final_question > p {
    display:flex;
    justify-content: center;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: grey;
    margin: 1em;
    padding: 1em;
    width: 60%;
    position: -webkit-sticky;
    bottom: 10%;
}
